rule gatk4_make_scaffold_intervals:
    input:
        config["genome"]
    output:
        "data/intervals/gatk-haplocaller.intervals"
    run:
        ofh = output[0]
        o = open(ofh, 'w')
        with open(input[0]) as handle:
            for record in SeqIO.parse(handle, 'fasta'):
                start = 1
                outputstr = ""
                
                # divide by 50,000 N scaffold joins
                for match in re.finditer('N{50000}', str(record.seq)):
                    outputstr += "{}:{}-{}\n".format(record.id, start, match.start())
                    start = match.end() + 1
                
                # if scaffold wasn't divided by 50k N, divide by 3kb gaps
                # Prevents HaplotypeCaller from running on entire
                # potato chr00 as one chunk
                if start == 1: 
                    for match in re.finditer('N{3000,}', str(record.seq)):
                        outputstr += "{}:{}-{}\n".format(record.id, start, match.start())
                        start = match.end() + 1

                # handle last nongap interval
                outputstr += "{}:{}-{}\n".format(record.id, start, len(record))
                o.write(outputstr)